/**
* aouthor: alian wangzhuanglian 654849917@qq.com
* des    : Slider2.0.0 is a image slideshow plug-in for Zetop width features like touch,CSS3 transition and CSS3 transform。
*          Slider1.0是一个我闲暇时间写的zepto插件，用于实现像微博、微信朋友圈展示多张图片的那种效果。可以滑动，缩放。基于JavaScript touch事件，zetop doubleTouch事件，和CSS3。
* version: 2.0.1
*/
.slide-wrapper ul,.slide-wrapper li{
	padding: 0;margin: 0;
}
.slide-wrapper{
	overflow: hidden;
	margin-bottom: 20px;
	background: rgba(0,0,0,0.7 );
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height:100%;
}
.slide-wrapper .slide{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.slide-wrapper li{
	float: left;
	list-style: none;
	width: 100%;
	height: 100%;
	position: relative;

}
.slide-wrapper p{
	padding-left:5px;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}
.slide-wrapper img{
	width: 100%;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	display: none;
	transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;

	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);		/* IE 9 */
	-webkit-transform: translate(-50%,-50%);	/* Safari and Chrome */
	-o-transform: translate(-50%,-50%);		    /* Opera */
	-moz-transform: translate(-50%,-50%);		/* Firefox */
}
.slide-nav{
	position: absolute;
	left: 50%;
	bottom: 1px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);		/* IE 9 */
	-webkit-transform: translateX(-50%);	/* Safari and Chrome */
	-o-transform: translateX(-50%);		    /* Opera */
	-moz-transform: translateX(-50%);		/* Firefox */
	z-index: 100;
	background: none
}
.slide-nav li{
	display: inline-block;
	margin: 3px;
	border-radius: 100px;
	opacity: 0.8;
	background: rgba(255,255,255,0.6);
	width: 5px;
	height: 5px;
}
.slide-nav li.on{
	background: rgba(255,255,255,1);
}

#J-slide-colse{
	display: block;
	width: 15%;
	height: 25px;
	color: #fff;
	text-align: center;
	line-height: 25px;
	position: absolute;
	bottom: 5%;
	right: 10px;
	border-radius: 3px;
	z-index: 10000;
	border: 1px solid #3079ed;
	background-color: #4d90fe;
}
.slide-tips{
	position: absolute;
	top: 50%;
	color: #fff;
	height: 20px;
	width: 100%;
	margin-top: -10px;
	line-height: 20px;
	display: block;
	text-align: center;
	z-index: 100;
}